<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
this is my studentinfo
<table border="1">
    <tr>
        <td>Rollno</td>
        <td>{{rollno}}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{name}}</td>
    </tr>

    <tr>
        <td>Course</td>
        <td>{{course}}</td>
    </tr>
    <tr>
        <td>Year</td>
        <td>{{year}}</td>
    </tr>
    <tr>
        <td>GroupToutor Name</td>
        <td>gtname</td>
    </tr>


</table>
</body>
</html>